{% extends "base.html" %}



{% block body %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Magtoba News</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/?query=latest">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/?query=US">USA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/?query=UK">UK</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/?query=Africa">Africa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/?query=Finance">Finance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/?query=Sports">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/?query=Entertaiments">Entertainments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" name="query" value= "{{query}}"placeholder="Search for News here" aria-label="Search"/>
        <button id = "search-btn"class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">

    <h1 class = "my-4 text-center"> Welcome to the News App </h1>
    <div class="row">
        {% for article in articles %}
        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                {% if article.urlToImage %}
                <img class="card-img-top" src="{{ article.urlToImage }}" alt="Article Image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.description }}</p>          
                    <a href="{{ article.url }}" class="btn btn-primary" target="_blank">Read More</a>
                </div>
            </div>

        </div>

        {%endfor %} 


        </div>
        <a href="/news" class="btn btn-primary btn-lg">View News</a>


</div>
    
{% endblock %}  




